<div class="page-header">
  <h3>Training #<%= @training.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @training.description %></dd>

      <dt>Name</dt>
      <dd><%= @training.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/trainings" class="btn btn-primary">
        Back
      </a>
      <a href="/trainings/<%= @training.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_training/<%= @training.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
