<div class="page-header">
  <h1>
    Therapist credentials
    <a href="/therapist_credentials/new" class="btn btn-lg btn-success">New Therapist credential</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Credential</th>
        <th>Therapist</th>
        <th>Actions</th>
      </tr>

      <% @therapist_credentials.each do |therapist_credential| %>
      <tr>
        <td><%= therapist_credential.credential_id %></td>
        <td><%= therapist_credential.therapist_id %></td>
        <td>
          <a href="/therapist_credentials/<%= therapist_credential.id %>" class="btn btn-primary">Show</a>
          <a href="/therapist_credentials/<%= therapist_credential.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_therapist_credential/<%= therapist_credential.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
