<div class="page-header">
  <h3>Therapist Credential #<%= @therapist_credential.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Credential</dt>
      <dd><%= @therapist_credential.credential_id %></dd>

      <dt>Therapist</dt>
      <dd><%= @therapist_credential.therapist_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/therapist_credentials" class="btn btn-primary">
        Back
      </a>
      <a href="/therapist_credentials/<%= @therapist_credential.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_therapist_credential/<%= @therapist_credential.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
