<div class="page-header">
  <h2>
    Browse Therapists
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">

      <% @therapists.each do |therapist| %>
      <tr>
        <td><%= therapist.first_name %> <%= therapist.last_name %></td>
        <td><img src="/assets/images/<%= therapist.photo %>" height="100px" /></td>

        <td>
          <a href="/therapists/<%= therapist.id %>" class="btn btn-primary">Show Details</a>
        </td>

        <td>
          <a href="/therapists/<%= therapist.id %>/edit" class="btn btn-warning">Edit Details</a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
