<div class="page-header">
  <h2>
    Browse Therapists
  </h2>
</div>


<div class="row">
  <div class="col-md-12 text-center">
    <table class="table table-striped table-hover">

      <% @therapists.each do |therapist| %>
      <tr>

        <td>
          <img src="/assets/<%= therapist.photo %>" height="150px" />
        </td>

        <td><h5><b><%= therapist.first_name %> <%= therapist.last_name %></b></h5>
        </td>

        <td><b>Credentials:</b>
         <% therapist.credentials.each do |credential| %>
         <div><%= credential.name %></div>
         <% end %>
        </td>


        <td><b>Licensed in:</b>
         <% therapist.states.each do |state| %>
         <div><%= state.name %></div>
         <% end %>
        </td>

        <td><b>Accepted Insurance:</b>
         <% therapist.insurers.each do |insurer| %>
         <div><%= insurer.insurer_name %></div>
         <% end %>
        </td>

        <td>
          <a href="/therapists/<%= therapist.id %>" class="btn btn-primary">Show Details</a>
        </td>

        <!-- <td>
          <a href="/therapists/<%= therapist.id %>/edit" class="btn btn-warning">Edit Details</a>
        </td>
        <td> -->
        <!-- <a href="/delete_therapist/<%= therapist.id %>" class="btn btn-danger">
          Delete
        </a> -->
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div class="row footer">
<div class="col-md-12 text-center">
  <p>
    For more information, please contact us at <b>info@mind-matters.us</b>
  </p>
  </div>
</div>
