<div class="page-header">
  <h3><%= @therapist.first_name %> <%= @therapist.last_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>First name</dt>
      <dd><%= @therapist.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @therapist.last_name %></dd>

      <dt>Username</dt>
      <dd><%= @therapist.username %></dd>

      <dt>Password</dt>
      <dd><%= @therapist.password %></dd>

      <dt>Email</dt>
      <dd><%= @therapist.email %></dd>

      <dt>Address</dt>
      <dd><%= @therapist.address %></dd>

      <dt>Photo</dt>
      <dd><%= @therapist.photo %></dd>

      <dt>National provider identifier</dt>
      <dd><%= @therapist.national_provider_identifier %></dd>

      <dt>Education</dt>
      <dd><%= @therapist.education %></dd>

      <dt>Bio</dt>
      <dd><%= @therapist.bio %></dd>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/therapists" class="btn btn-primary">
        Back
      </a>
      <a href="/therapists/<%= @therapist.id %>/edit" class="btn btn-warning">
        Edit
      </a>

    </div>
  </div>
</div>
