<div class="page-header">
  <h3><%= @therapist.first_name %> <%= @therapist.last_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Photo</dt>
      <dd>
            <td><img src="/assets/<%= @therapist.photo %>" height="200px" /></td>
      </dd>

      <dt>States</dt>
      <dd>
          <% @therapist.states.each do |state| %>
          <div><%= state.name %></div>
          <% end %>
      </dd>

      <dt>Credentials</dt>
      <dd>
          <% @therapist.credentials.each do |credential| %>
          <div><%= credential.name %></div>
          <% end %>
      </dd>

      <dt>Accepted Insurance</dt>
      <dd>
          <% @therapist.insurers.each do |insurance| %>
          <div><%= insurance.insurer_name %></div>
          <% end %>
      </dd>

      <dt>Email</dt>
      <dd><%= @therapist.email %></dd>

      <dt>Address</dt>
      <dd><%= @therapist.address %></dd>

      <dt>Nat'l Provider Identifier</dt>
      <dd><%= @therapist.national_provider_identifier %></dd>

      <dt>Education</dt>
      <dd><%= @therapist.education %></dd>

      <dt>Bio</dt>
      <dd><%= @therapist.bio %></dd>


    </dl>
  </div>
</div>




<!-- Buttons -->
    <div class="btn-group btn-group-justified">
      <a href="/therapists" class="btn btn-primary">
        Back
      </a>
      <a href="/therapists/<%= @therapist.id %>/edit" class="btn btn-warning">
        Edit
      </a>

    </div>
  </div>
</div>


<hr>

<div class="row footer padding-inside-top-md padding-inside-bottom-md">
<div class="col-md-12 text-center">
  <p>
    For more information, please contact us at <b>info@mind-matters.us</b>
  </p>
  </div>
</div>
