<div class="page-header">
  <h1>
    Conversations
    <a href="/conversations/new" class="btn btn-lg btn-success">New Conversation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Follow up items</th>
        <th>Body</th>
        <th>Therapist</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @conversations.each do |conversation| %>
      <tr>
        <td><%= conversation.follow_up_items %></td>
        <td><%= conversation.body %></td>
        <td><%= conversation.therapist_id %></td>
        <td><%= conversation.user_id %></td>
        <td>
          <a href="/conversations/<%= conversation.id %>" class="btn btn-primary">Show</a>
          <a href="/conversations/<%= conversation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_conversation/<%= conversation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
