<!-- Validation failure messages -->
<% if @conversation.errors.any? %>
  <% @conversation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Send Message to <%= @therapist.first_name %> <%= @therapist.last_name %> </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_conversation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <!-- Label and input for body -->
      <div class="form-group">

        <textarea id="body" name="body" placeholder="Enter your message here." class="form-control" rows="7"><%= @conversation.body %></textarea>
      </div>

      <!-- hidden input for therapist_id -->
      <div class="form-group">

        <input type="hidden" id="therapist_id" name="therapist_id"  class="form-control" value="<%= @therapist.id %>">
      </div>
  <!-- hidden input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id%>">
      </div>

      <button class="btn btn-success">
        Send Message
      </button>
      or
      <a href="/therapists/<%= @therapist.id %>">Cancel</a>
    </form>
  </div>
</div>
